<div id="fsd-offering" style=" background-color: #ffffff;" class="section-row-blocks padding-xl-bottom">
  <div class="container">
  <div class="row flex padding-xs-bottom break-tablet justify-children-start">
  <div class="flex column-1  text-align-left col-12">
  <div class="col-inner">
  <div class="text-align-left color-oil"><h4 class="line-title">Fullstack Digital service offering</h4>
  <div class="line-bottom"></div>
  </div>
  </div>
  </div>
  </div>
  <div class="row flex break-mobile-s justify-children-start">
  <div class="flex column-1 services_subtitle text-align-left col-2 hide-mobile">
  <div class="col-inner align-self-center">
  <div class="text-align-left color-oil"></div>
  </div>
  </div>
  <div class="flex column-1  text-align-left col-1 hide-mobile">
  <div class="col-inner align-self-center">
  <div class="text-align-left color-oil"></div>
  </div>
  </div>
   <div class="flex column-2 col-3">
  <div class="col-inner align-self-center justify-self-start">
  <div class=" color-oil" style="margin-bottom: 30px;">
  <svg class="padding-xs-bottom" id="Layer_1" width="44" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64">
  <path fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" d="M1,21c0,20,31,38,31,38s31-18,31-38  c0-8.285-6-16-15-16c-8.285,0-16,5.715-16,14c0-8.285-7.715-14-16-14C7,5,1,12.715,1,21z"></path>
  </svg>
  <h5 class="strip-margin-top strong">Brand.</h5>
  </div>
  </div>
  </div>
  <div class="flex column-3 col-3">
  <div class="col-inner align-self-center">
  <div class=" color-oil" style="    margin-bottom: 30px;">
  <svg class="padding-xs-bottom" id="Layer_1" width="44" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64">
  <g>
  <rect x="1" y="10" fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" width="62" height="41"></rect>
  <line fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" x1="22" y1="63" x2="42" y2="63"></line>
  <line fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" x1="32" y1="63" x2="32" y2="51"></line>
  </g>
  <line fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" x1="1" y1="43" x2="64" y2="43"></line>
  </svg>
  <h5 class="strip-margin-top strong">Web.</h5>
  </div>
  </div>
  </div>
  <div class="flex column-4 col-3">
  <div class="col-inner align-self-center">
  <div class=" color-oil" style="    margin-bottom: 30px;">
  <svg class="padding-xs-bottom" id="Layer_1" width="44" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64">
  <polygon fill="none" stroke="#000" stroke-width="2" stroke-miterlimit="10" points="26,49.042 54.963,49.042 54.963,11.042   1,11.042 1,49.042 14,49.042 14,59.486 "></polygon>
  <polyline fill="none" stroke="#000" stroke-width="2" stroke-miterlimit="10" points="57,41.042 62.963,41.042 62.963,3.042   9,3.042 9,9 "></polyline>
  </svg>
  <h5 class="strip-margin-top strong">Market.</h5>
  </div>
  </div>
  </div>
  </div>
  
  <div class="row flex break-mobile-s justify-children-start" style="margin-bottom: 35px;">
  
  <div class="flex column-1 services_subtitle text-align-left col-2 hide-mobile">
  <div class="col-inner align-self-center">
  <div class="text-align-left color-oil"><h5 class="strip-margin-top strong">Projects</h5></div>
  </div>
  </div>
  <div class="flex column-1  text-align-left col-1 hide-mobile" style="border-left: 1px solid">
  <div class="col-inner align-self-center">
  <div class="text-align-left color-oil"></div>
  </div>
  </div>
  <div class="flex column-2 col-3">
  <div class="col-inner align-self-center justify-self-start">
  <div class=" color-oil">
  <p style="margin-top: -9px;"><a class="strip-underline color-oil" href="/service/full-service-branding/">Development</a></p>
  <p><a class="strip-underline color-oil" href="/service/full-service-branding/">Identity</a></p>
  <p style="margin-bottom: 0;"><a class="strip-underline color-oil" href="/service/full-service-branding/">Strategy</a></p>
  </div>
  </div>
  </div>
  <div class="flex column-3 col-3">
  <div class="col-inner align-self-center">
  <div class=" color-oil">
  <p style="margin-top: -9px;">Experience</p>
  <p>Design</p>
  <p style="margin-bottom: 0;">Development</p>
  </div>
  </div>
  </div>
  <div class="flex column-4 col-3">
  <div class="col-inner align-self-center">
  <div class=" color-oil">
  <p style="margin-top: -9px;">Search</p>
  <p>Content</p>
  <p style="margin-bottom: 0;">Social</p>
  </div>
  </div>
  </div>
  </div>
  <div class="row flex break-mobile-s justify-children-start">
  
  
  <div class="flex column-1 text-align-left services_subtitle col-2 hide-mobile">
  <div class="col-inner align-self-center">
  <div class="text-align-left color-oil"><h5 class="strip-margin-top strong">Ongoing</h5></div>
  </div>
  </div>
  <div class="flex column-1  text-align-left col-1 hide-mobile" style="border-left: 1px solid">
  <div class="col-inner align-self-center">
  <div class="text-align-left color-oil"></div>
  </div>
  </div>
  <div class="flex column-2 col-3">
  <div class="col-inner align-self-center justify-self-start">
  <div class="color-oil">
  <p style="margin-bottom: 0;margin-top: -9px;"><a class="strip-underline color-oil" href="/service/full-service-branding/">Creative<br>Management</a></p></div>
  </div>
  </div>
  <div class="flex column-3 col-3">
  <div class="col-inner align-self-center">
  <div class=" color-oil">
  <p style="margin-bottom: 0;     margin-top: -9px;">Web<br>Management</p></div>
  </div>
  </div>
  <div class="flex column-4 col-3">
  <div class="col-inner align-self-center">
  <div class=" color-oil">
  <p style="margin-bottom: 0;     margin-top: -9px;">Reputation<br>Management</p></div>
  </div>
  </div>
  </div>
  </div>
  </div>