<style>
  #poster .clss-1 {
    fill: rgb(150, 228, 255);
  }
  #poster .clss-2 {
    fill: rgb(27, 173, 255);
  }
  #poster .clss-3 {
    fill: rgb(0, 105, 242);
  }
  #one .button-fill {
    background: ;
  }
  #one .button-fill:before {
    border-top-color: ;
  }
  #one .button-fill:after {
    border-top-color: ;
  }
  #two .button-fill {
    background: ;
  }
  #two .button-fill:before {
    border-top-color: ;
  }
  #two .button-fill:after {
    border-top-color: ;
  }
  #three .button-fill {
    background: ;
  }
  #three .button-fill:before {
    border-top-color: ;
  }
  #three .button-fill:after {
    border-top-color: ;
  }
</style>

{{ range (where $.Site.Pages "Section" "work") }}

{{ range .Pages }}
<ul>
  <li><a href="{{ .URL }}">{{ .Title }}</a></li>
</ul>
{{ end }}
{{ end }}
