{{ define "main" }}

<!-- logos_color: true
logos_link: true
logos_width: xs
logos:
  - name: "dell"
    logo_link: false
  - name: "quantum"
    logo_color: false
  - name: "rigado"
  - name: "threefactor"
  - name: "ddn"
  - name: "code" -->


{{ range $index, $sections := .Params.sections }}

  <section data-index='{{ $index }}' class='template-{{ .template }}{{ with .class }} {{ . }}{{ end }}{{ if eq .template "cta" }} cta-left{{ end }}'>

  {{ if eq .template "overview" }}
  <div class="container flex break-tablet h_children_center">
    <div class="col-6 text-center">
      <h1>{{ .title | safeHTML }}</h1>
      <p class="big-paragraph">{{ .paragraph | safeHTML }}</p>
    </div>
  </div>
  {{ end }}

  {{ if eq .template "related_work" }}
    {{ partial "components/labs_grid.html" (dict "page" . "global" $ ) }}
  {{ end }}

  {{ if eq .template "cta" }}
      <div class="container flex break-tablet h_children_space-between">

        <div class="flex col-5">
          
        </div>

      <div data-aos="fade-left" class="flex wrap padding-m-top padding-m-bottom text-left col-6 maxwidth-s">


      <h4 class="text-align-left subtitle">{{ .subtitle | safeHTML }}</h4>
      <h3 class="text-align-left"><strong id="get-started">{{ .title | safeHTML }}</strong></h3>



      {{ with .form }}
        {{ partial "components/netlify_form.html" (dict "page" . "global" $)}}
      {{ end }}
      </div>


      </div>

    {{ end }}

    {{ if eq .template "expand-contact" }}
      {{ partial "components/expand_form.html" (dict "page" . "global" $ "form" .form )}}
    {{ end }}
  

  </section>
  
{{ end }}

{{ end }}