{{ define "main" }}

<!-- logos_color: true
logos_link: true
logos_width: xs
logos:
  - name: "dell"
    logo_link: false
  - name: "quantum"
    logo_color: false
  - name: "rigado"
  - name: "threefactor"
  - name: "ddn"
  - name: "code" -->


{{ range $index, $sections := .Params.sections }}

  <section data-index='{{ $index }}' class='template-{{ .template }}{{ if eq .template "related_work" }} padding-l{{ end }}{{ if eq .template "cta" }} cta-left{{ end }}'>

    {{ if eq .template "related_work" }}
    {{ partial "components/ajax_work_grid.html" (dict "page" . "global" $ ) }}
  {{ end }}

  {{ if eq .template "cta" }}
      <div class="container flex break-tablet justify-between">

        <div class="flex col-5">
          
        </div>

      <div data-aos="fade-left" class="flex wrap padding-m-top padding-m-bottom text-left col-6 maxwidth-s">


      <h4 class="text-align-left subtitle">{{ .subtitle | safeHTML }}</h4>
      <h3 class="text-align-left"><strong id="get-started">{{ .title | safeHTML }}</strong></h3>



      {{ with .form }}
        {{ partial "components/netlify_form.html" (dict "page" . "global" $)}}
      {{ end }}
      </div>


      </div>

    {{ end }}

  

  </section>
  
{{ end }}

{{ end }}
