.form-row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -5px;
  flex-basis: 100%;
}
#email .form-row .form-1 {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}
.form-row .form-1, .form-row .form-2 {
  position: relative;
  width: 100%;
  padding: 0 5px;
}
.form-row .form-2 {
  padding: 0 5px 0 5px;
}
.form-row .form-2 {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}
.form-row .form-2 {
  position: relative;
  width: 100%;
}

input, textarea {
  outline: 0;
  border: none;
  border-radius: 0;
  font-size: 18px;
  padding: 0 14px;
  box-shadow: none;
  font-family: lato,sans-serif;
  line-height: 50px;
  margin-bottom: 25px;
  -webkit-box-shadow: 0 0 0 4px transparent;
  box-shadow: 0 0 0 4px transparent;
  -webkit-transition: box-shadow .3s;
  transition: box-shadow .3s;
}
input, textarea {
  margin-bottom: 10px;
}
input[type=text], input[type=email], input[type=url] {
  width: 100%;
  background: #fff;
}
input, textarea, select {
  display: inline-block;
  width: 100%;
}
input, button, select, textarea {
  box-sizing: border-box;
}
input:focus, textarea:focus {
  border: none;
  -webkit-box-shadow: 0 0 0 4px #1badff;
  box-shadow: 0 0 0 4px #1badff;
}
button[type="submit"] {
  margin-top: 25px;
}

/*invalid entries*/
input[type=text]:invalid:not(:focus):not(:placeholder-shown), input[type=email]:invalid:not(:focus):not(:placeholder-shown), input[type=url]:invalid:not(:focus):not(:placeholder-shown) {
  background: #f6d0d0;
}

/*valid entries*/
input[type=text]:valid, input[type=email]:valid, input[type=url]:valid {
  background: #c6e2d0;
}

button[type="submit"][disabled=""]:hover {
  cursor: not-allowed;
}
button[type="submit"][disabled=""].button.fill.deepblue:before {
  width: 110%;
}
button[type="submit"][disabled=""][percent-left="75%"].button.fill.deepblue:before {
  width: 85%;
}
button[type="submit"][disabled=""][percent-left="50%"].button.fill.deepblue:before {
  width: 60%;
}
button[type="submit"][disabled=""][percent-left="25%"].button.fill.deepblue:before {
  width: 35%;
}
button[type="submit"][disabled=""][percent-left="0%"].button.fill.deepblue:before {
  width: 0%;
}

@media screen and (max-width: $screen-mobile-m) {
  .form-row .form-2 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}