{{ define "main" }}
{{ $excerpt := "" }}
{{ if .Params.excerpt }}
  {{ $excerpt = .Params.excerpt }}
{{ else }}
  {{ $excerpt = .Params.description }}
{{ end }}
<section>
  <div class="container flex justify-between break-tablet padding-xl">

    <div class="col-8 content">
      <a href="/labs/" class="color-oil hover-left"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="22px" height="22px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
        <g><line fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" x1="64" y1="32" x2="1" y2="32"></line></g><polyline fill="none" stroke="#000000" stroke-width="2" stroke-linejoin="bevel" stroke-miterlimit="10" points="10,23 1,32 10,41"></polyline>
        </svg>All Projects</a>
        <h1>{{ .Title | safeHTML }}</h1>
        <p class="excerpt">{{ $excerpt | safeHTML }}</p>
        {{ .Content }}
    </div>

    <div class="col-3 stickyNav padding-m-top">
    
    {{ $showrelated := .Params.related | default false }}
    {{ if eq $showrelated true }}

    {{ $related := .Site.RegularPages.Related . | first 5 }}

    {{ with $related }}
    <ul class="showrelated">
      <li>Other Projects</li>
    {{ range . }}
      <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
    {{ end }}
    </ul>
    {{ end }}

    {{ else }}
      <ul>

      </ul>
    {{ end }}
  </div>
  </div>
</section>

{{ if eq $showrelated false }}
<script type="text/javascript">

let headers = document.querySelectorAll("h2, h3");
let stickyNav = document.querySelector(".stickyNav ul");
let ulHtml = '';

headers.forEach(function (header, index) {
  let navLink = `<li><a href="#${header.getAttribute("id")}">${header.innerText}</a></li>`;

  if (header.tagName == "H2" && index === 0) {
    //let ul = document.createElement("ul");
    // stickyNav.appendChild(ul);
    ulHtml += `${navLink}<ul>`;
  } else if (header.tagName == "H2") {
    ulHtml += `</ul>${navLink}<ul>`;
  } else if (header.tagName == "H3") {
    ulHtml += `${navLink}`;
    //ul.innerHTML += `${navLink}`;
  }
  
  if (index === headers.length - 1) {
    //console.log(ulHtml);
    stickyNav.innerHTML = ulHtml;
  }
  

});

</script>
{{ end }}
{{ end }}
