<nav class="masthead">
    <ul class="nav-list container">
        <li class="logo-link">
            <a class="page-link" href="/">
                <svg id="Layer_1" width="45" height="29.41" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 149.92 98">
                <defs>
                <style></style>
                </defs>
                <polygon class="cls-1" points="50.25 98 0 72.75 28.75 0 87.5 0 50.25 98"/>
                <polygon class="cls-2" points="81.46 98 61.13 87.63 94.5 0 118.71 0 81.46 98"/>
                <polygon class="cls-3" points="112.67 98 92.33 87.63 125.71 0 149.92 0 112.67 98"/>
                </svg>
            </a>
        </li>
        {{ $linkTo := true }}
        {{ range .Site.Data.navigation.main }}
        {{- /* <!--here are the vars --> */ -}}
        
        {{ $name := "" }}
        {{ $url := "" }}
        {{ $sub := "" }}
        {{ $title := ""}}
        {{ $active := false }}
        
        {{ $pageName := ""}}
        {{ $currentPage := $.Permalink }}
        
        {{- /* <!--create the nav item based on the datafile values --> */ -}}
            {{ with .name }}
                {{ $name = lower . }}
                {{ $title = . }}
            {{ end }}
            {{ with .title }}
                {{ $title = . }}
            {{ end }}
            {{ with .url }}
                {{ $url = . }}
            {{ end }}

            {{ $linkTo = .linkTo | default true }}
            
        {{ range $index, $nav := where $.Site.Pages ".Params.name" $name }}
            {{ $pageName = lower .Params.name }}
                {{ if eq $pageName $name }}
                    {{- /* <!--grab the permalink if page exists --> */ -}}
                    {{ if eq $url "" }}
                        {{ $url = .Permalink }}
                    {{ end }}
                    {{ if eq $currentPage $url }}
                        {{ $active = true }}
                    {{ end }}
                {{ end }}
        {{ end }}
        <li{{ if eq $active true }} class="active"{{ end }}><a{{ if ne $linkTo false }} href ='{{ $url }}'{{ end }}>{{ $title }}</a>
        
        {{ if .sub }}
        
        {{ $name = "" }}
        {{ $url = "" }}
        {{ $sub = "" }}
        {{ $title = ""}}
        
        {{ $pageName = ""}}
        {{ $currentPage = $.Permalink }}
        
            <ul class="sub">
            {{ range .sub }}
                {{ $active = false }}
                {{ with .name }}
                    {{ $name = lower . }}
                    {{ $title = . }}
                {{ end }}
                {{ with .title }}
                    {{ $title = . }}
                {{ end }}
                {{ if .url }}
                    {{ $url = .url }}
                  {{ else }}
                    {{ $url = "" }}
                {{ end }}
        
                {{ range $index, $subnav := where $.Site.Pages ".Params.name" "==" $name }}
                
                    {{ $pageName = lower .Params.name }}
                    {{ if eq $pageName $name }}
                        {{ if eq $url "" }}
                            {{ $url = .Permalink }}
                        {{ end }}
                        {{ if eq $currentPage $url }}
                            {{ $active = true }}
                        {{ end }}
                    {{ end }}
                    <li{{ if eq $active true }} class="active"{{ end }}><a href ="{{ $url }}">{{ $title }}</a></li>
                {{ end }}
                
            {{ end }}
                </ul>
            {{ end }}
        
        </li>
        {{- /* <!--create the sub nav --> */ -}}
        
            
        
        {{ end }}
<!--https://gohugo.io/templates/lists/-->
    </ul>
</nav>