<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

{{- $title := .Site.Title -}}
{{ $robots := "all" }}
{{- if .Title -}}
  {{- $title = print .Title " | " .Site.Title -}}
{{- end -}}
{{- $meta := "" -}}
{{- $meta_title := $title -}}
{{- $meta_description := .Description -}}
{{- $meta_image := "/uploads/site/og_image.jpg" -}}
{{- with .Params.image -}}
  {{- $meta_image = . -}}
{{- end -}}
{{- with .Params.meta -}}
  {{- $meta = . -}}
  {{ with .robots }}
    {{ $robots = . }}
  {{ end }}
  {{- with .title -}}
    {{- $meta_title = . -}}
  {{- end -}}
  {{- with .description -}}
    {{- $meta_description = . -}}
  {{- end -}}
  {{- with .og_image -}}
    {{- $meta_image = . -}}
  {{- end -}}
  {{- with .image -}}
    {{- $meta_image = . -}}
  {{- end -}}
{{- end -}}
{{ if in $meta_image "images" }}
  {{ $imgsrc := strings.TrimPrefix "/" $meta_image }}
    {{ with .Resources.Match $imgsrc }}
    {{ range . }}
      {{ $imgsrc = . }}
      {{ $imgsized := ($imgsrc.Resize "500x q100") }}
      {{ $meta_image = $imgsized.Permalink }}
    {{ end }}
    {{ end }}
{{ end }}
<!-- Primary Meta Tags -->
<title>{{ $title }}</title>
<meta name="title" content='{{ $title | safeHTML }}'>
{{ with $meta_description }}<meta name="description" content="{{ . | safeHTML }}">{{ end }}
{{- $favcon := "/images/site/Icon-Black.jpg" -}}
{{- $favconsrc := resources.Get $favcon -}}
{{- $favxs := ($favconsrc.Resize "32x q100") -}}
{{- $favs := ($favconsrc.Resize "180x q100") -}}
{{- $favm := ($favconsrc.Resize "192x q100") -}}
{{- $favl := ($favconsrc.Resize "270x q100") -}}
<link rel="icon" href="{{ $favxs.Permalink }}" sizes="32x32">
<link rel="apple-touch-icon-precomposed" href="{{ $favs.Permalink }}" sizes="180x180">
<link rel="icon" href="{{ $favm.Permalink }}" sizes="192x192">
<meta name="msapplication-TileImage" content="{{ $favl.Permalink }}">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="{{ .Permalink }}">
<meta property="og:title" content="{{ $title | safeHTML }}">
<meta property="og:description" content="{{ $meta_description | safeHTML }}">
<meta property="og:image" content="{{ $meta_image }}">

<!-- Twitter -->
<meta property="twitter:card" content="{{ $meta_image }}">
<meta property="twitter:url" content="{{ .Permalink }}">
<meta property="twitter:title" content="{{ $meta_title | safeHTML }}">
<meta property="twitter:description" content="{{ $meta_description | safeHTML }}">
<meta property="twitter:image" content="{{ $meta_image }}">

<!-- Robots -->
<meta name="robots" content="{{ $robots }}" />