{{/* <!--load this JS asap--> */}}
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6%2CElement.prototype.closest%2Cfetch"></script>

{{ $util := resources.Get "js/util.js" | minify }}
<script type="text/javascript" src="{{ $util.Permalink }}"></script>

{{ $lazy_js := resources.Get "js/plugins/lazysizes.min.js" }}
{{ $ls_unveil := resources.Get "js/plugins/ls.unveilhooks.js" }}


{{ $plugins_js := slice $ls_unveil $lazy_js | resources.Concat "js/plugins.js" | minify | fingerprint }}
<script type="text/javascript" src="{{ $plugins_js.Permalink }}" integrity="{{ $plugins_js.Data.Integrity }}"></script>
<script>
lazySizes.init();
AOS.init();
</script>
<style>
  
  /*[data-aos]{opacity: 1 !important; transform: translate3d(0,0,0) !important;}*/
</style>

<script type="text/javascript" src="{{ $plugins_js.Permalink }}" integrity="{{ $plugins_js.Data.Integrity }}"></script>
{{ $smoothscroll := resources.Get "js/smoothscroll.js" }}

<script type="text/javascript">
  fetchInject([
    '{{ $smoothscroll.Permalink }}'
  ])
</script>


{{ $noncritical_css := resources.Get "scss/noncritical.scss" | resources.ExecuteAsTemplate "style.scss" . | toCSS | postCSS | minify }}

<link rel='stylesheet' href='{{ $noncritical_css.Permalink }}'/>


