<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/fetch-inject" media="screen"></script>
<style class="page_critical_css">
 {{ $critical_css := "" }}
{{ if $.Site.IsServer }}
  {{ $critical_css = resources.Get "scss/crit.scss" | resources.ExecuteAsTemplate "style.crit.scss" . | toCSS }}
{{ else }}
  {{ $critical_css = resources.Get "scss/crit.scss" | resources.ExecuteAsTemplate "style.crit.scss" . | toCSS | minify }}
{{ end }}

{{ (slice $critical_css | resources.Concat "style.scss").Content | safeCSS }}


</style>