.brand > svg {
    stroke: #95E3FF;
    fill: #95E3FF;
  }
  .brand span {
    color: #95E3FF;
  }
  .web > svg {
    stroke: #1BACFF;
    fill: #1BACFF;
  }
  .web span {
    color: #1BACFF;
  }
  .market > svg {
    stroke: #0069F1;
    fill: #0069F1;
  }
  .market span {
    color: #0069F1;
  }