.work-container {
    display: grid;
}

.work-grid {

    .work-container {
        display: grid;
        grid-column-gap: 30px;
        grid-row-gap: 30px;
        grid-template-columns: 1fr 1fr;

        @media screen and (max-width: $screen-tablet-s) {
            grid-template-columns: 1fr;
        }   
    }
}

.work-row {

}