// Work-row = featured
// Work-grid = normal grid view
.reverseAnimation {
  position: fixed;
  top: 10%;
  right: 50px;
  color: rgba(255, 255, 255, 0.6);
  border: 2px solid rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  z-index: 999999;
  background: transparent;
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.reverseAnimation svg line {
  stroke: rgba(255, 255, 255, 0.6);
}
.reverseAnimation:hover {
  border: 2px solid rgba(255, 255, 255, 0.3);
  cursor: pointer;
}
.reverseAnimation:hover svg line {
  stroke: rgba(255, 255, 255, 0.3);
}

.gridgrow {
  opacity: 0;
}
@keyframes loading-grid {
  0% {
    opacity: 0;
    visiblity: hidden;
  }
  100% {
    opacity: 1;
    visiblity: visible;
  }
}
.gridgrow.loaded {
  opacity: 1;
  animation-name: loading-grid; /* IE 10+, Fx 29+ */
  animation-duration: 0.8s;
  animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
}

.work-grid {
  .gridgrow:hover svg {
    opacity: 1;
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
  }
  .gridgrow:hover .card-footer .gridgrow-excerpt {
    opacity: 0;
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
  }
  .gridgrow:hover .gridgrow-view {
    opacity: 1;
    padding-right: 30px;
    -webkit-transition: opacity .5s,padding-right 1.5s;
    transition: opacity .5s,padding-right 1.5s;
  }
  .gridgrow:hover, .gridgrow:hover a {
    cursor: pointer;
  }
  .gridgrow:hover .gridwrap, .gridgrow.active .gridwrap {
    padding: 4%;
    margin: -4%;
  }
  .gridwrap {
    overflow: hidden;
    box-shadow: 0px 0px 1px 1px #efefef;
  }

  .card-footer {
    padding-left: 20px;
    padding-right: 20px;
    height: calc(100% * .3 + 0.5%);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .gridgrow-excerpt {
    // min-height: 45px;
    font-weight: 900;
    font-size: 17px;
    opacity: 1;
    -webkit-transition: opacity 2s;
    transition: opacity 2s;
    grid-row-start: 1;
    grid-column-start: 2;
  }

  .excerpt-group {
    display: grid;
    grid-template-columns: .5fr 1fr;
    height: 100%;
    align-items: center;
  }
}

.work-container.type-1 {
  display: grid;
}
.work-container.type-2, .work-container.row-3, .work-container.row-4 {
  display: grid;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}

.work-row {
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
}

.work-row {
  .gridwrap {
    display: flex;
    z-index: 20;
  }
  .gridgrow {
    height: 80vh;
    overflow: hidden;
  }
  .gridwrap {
    overflow: hidden;
  }
  .gridgrow:nth-child(1) {
    z-index: 10
  }
  .gridgrow:nth-child(2) {
    z-index: 11
  }
  .gridgrow:nth-child(3) {
    z-index: 12
  }
  .gridgrow:nth-child(5) {
    z-index: 13
  }
  .gridgrow .gridgrow-image-holder {
    height: 100%;
    margin-left: 0;
    margin-right: 0;
    width: 50%;
    order: 2;
    margin-top: 0;
    overflow: visible;
  }
  .gridgrow .card-footer {
    width: 50%;
    height: 100%;
    order: 1;
    padding-left: 0px;
    position: relative;
  }
  .gridgrow .excerpt-group {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
  }
  .gridgrow:hover, .gridgrow.active {
    z-index: 100;
  }
  .gridgrow:hover .gridwrap {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
  }
  .card-logo-holder {
    width: 100%;
    margin-bottom: 20px;
  }
  .card-footer-layer, .gridgrow-excerpt {
    display: none;
  }
  h2 {
    margin-bottom: 20px;
    font-size: 35px;
  }
  h2, h3 {
    width: 415px;
    max-width: 100%;
  }
  h3 {
    color: #cccccc;
  }
  .gridgrow:hover {
    overflow: visible;
  }
  .gridgrow:hover {
    .button.fill, .button.icon {
      color: #ccc;
      transition: all .2s ease;
    }
    .button.fill::before {
      width: 60%;
    }
    .gridwrap {
      padding-top: 4%;
      margin-top: -4%;
    }
  }
  .gridgrow.active {
    .wipe {
      z-index: 888;
    }
  }
  @media screen and (max-width: $screen-desktop-s) {
    .gridgrow {
      height: 50vh;
    }
    h2 {
      font-size: 28px;
    }
    h3 {
      font-size: 22px;
    }
  }
  @media screen and (max-width: $screen-tablet) {
    h2 {
      font-size: 28px;
    }
    h3 {
      font-size: 20px;
    }
    .gridgrow .card-footer {
      width: 40%;
    }
    .gridwrap {
      justify-content: space-between;
    }
    .gridgrow .excerpt-group {
      max-width: 300px;
    }
  }
  @media screen and (max-width: $screen-mobile-l) {
    .gridgrow {
      height: 80vh;
    }
    // .gridgrow .card-footer {
    //   padding-top: 20%;
    // }
    .gridwrap {
      flex-direction: column;
    }
    .gridgrow .card-footer {
      width: 100%;
    }
    .gridgrow .excerpt-group {
      max-width: 100%;
    }
    .card-footer {
      order: 2;
    }
    .gridgrow .gridgrow-image-holder {
      order: 1;
    }
    .gridgrow .gridgrow-image-holder {
      width: 100%;
    }
  }
}

.work-grid-tabs > div {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  max-width: 500px;
  margin-right: auto;
  margin-left: 0;
}

.work-grid-tabs > div > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.work-grid-tabs > div > div:hover {
  cursor: pointer;
  opacity: 0.8;
}
.work-grid-tabs > div > div svg {
  padding-bottom: 0px;
  margin-right: 20px;
  height: 55px;
}

[data-item-filter] {
  //display: none;
}

.brand > svg {
  stroke: #95E3FF;
  fill: #95E3FF;
}
.brand span {
  color: #95E3FF;
}
.web > svg {
  stroke: #1BACFF;
  fill: #1BACFF;
}
.web span {
  color: #1BACFF;
}
.market > svg {
  stroke: #0069F1;
  fill: #0069F1;
}
.market span {
  color: #0069F1;
}
.container-m.spacer {
  height: 0px;
  visibility: hidden;
}
.work-ajax {
  z-index: 900;
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.width-spacer {
  border-bottom: 3px dashed #000000;
  height: 3px;
}
.width-spacer:after {
  content: "";
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-left: 4px solid red;
  position: absolute;
  width: 4px;
  display: block;
  height: 6px;
}

//.work-ajax::-webkit-scrollbar {display:none;}
.work-container.type-2 {
  grid-template-columns: 1fr 1fr;
}
.work-container.row-3 {
  grid-template-columns: 1fr 1fr 1fr;
}
.work-container.row-4 {
  grid-template-columns: 1fr 1fr 1fr;
}
.gridgrow, .gridgrow.animate-grow {
  position: relative;
  min-width: 280px;
  height: 500px;
  overflow: visible;
  position: relative;
}
.active {
  .gridwrap, .gridgrow-image-holder {
    overflow: visible;
  }
  .gridgrow-image {
    z-index: 61;
  }
  .wipe {
    z-index: 60;
  }
}
.gridgrow-image-holder {
  margin-left: -4%;
  margin-right: -4%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;  
}
.gridgrow-image {
  color: #fff;
  display: block;
  position: absolute;
  overflow: hidden;
  z-index: 55;
  margin-bottom: 0;
  max-width: none;
}
.gridgrow {
  .background-light {
    color: #000000;
    background-color: #ffffff;
  }
  .background-light {
    h1, h6, p, span, svg {
      color: #000000;
    }
    svg line, svg polyline {
      stroke: #000000;
    }
  }
  .gridgrow-link {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 56;
    color: currentColor;
  }

  .work-link span {
    display: none;
  }

  .gridwrap {
    -webkit-box-sizing: initial;
    -moz-box-sizing: initial;
    box-sizing: initial;
    margin: 0;
    height: 100%;
    width: 100%;
    border-radius: 0;
    -webkit-transition: padding 1s cubic-bezier(.4,0,.2,1),margin 1s cubic-bezier(.4,0,.2,1),box-shadow 1s cubic-bezier(.4,0,.2,1);
    transition: padding 1s cubic-bezier(.4,0,.2,1),margin 1s cubic-bezier(.4,0,.2,1),box-shadow 1s cubic-bezier(.4,0,.2,1);
    position: relative;
  }
  
  .wipe {
    width: 100%;
    height: 100%;
    position: absolute;
  }

  .gridgrow-image-holder {
    height: calc(100% * 0.7 + 4%);
    margin-top: -4%;
  }

  .card-logo-holder {
    max-width: 150px;
    display: flex;
    position: relative;
    box-sizing: border-box;
    align-items: center;
  }

  .card-logo-holder img {
    max-width: 100%;
    max-height: 40px;
    min-height: 20px;
    width: auto;
    position: relative;
    margin: 0;
    box-sizing: border-box;
  }

  .card-footer-layer {
    position: relative;
    line-height: 35px;
    grid-row-start: 1;
    grid-column-start: 2;
    justify-self: flex-end;
  }

  .gridgrow-view {
    opacity: 0;
    padding-right: 20px;
    min-height: 32px;
    -webkit-transition: opacity .5s,padding-right 1.5s;
    transition: opacity .5s,padding-right 1.5s;
    min-height: 17px;
    font-weight: 500;
    font-size: 14px;
  }

  svg {
    opacity: 0;
    height: 37px;
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
  }
}

@media screen and (max-width: $screen-tablet-s) {
  .gridgrow .card-footer {
    padding-left: 40px;
    padding-right: 40px;
  }
  .work-container.type-2 {
    grid-template-columns: 1fr;
  }
  .reverseAnimation {
    width: 35px;
    height: 35px;
  }
}

@media screen and (max-width: $screen-mobile-l) {
  .gridgrow .card-footer {
    padding-left: 15px;
    padding-right: 15px;
  }
  .gridgrow .excerpt-group {
    grid-column-gap: 10px;
  }
}
@media screen and (max-width: $screen-mobile-m) {
  .gridgrow .gridgrow-excerpt {
    font-size: 14px;
  }
}