.work-ajax {
  .work-hero {
    // .container-m > img {
    //   opacity: 0.2;
    // }
  }
}
.work-hero {
  h1 {
    font-size: 2.12em;
  }
  .client_logo {
    max-width: 150px;
  }
  ul {
    list-style: none;
  }
  ul li {
    margin-bottom: .5em;
  }
  li {
    opacity: .3;
    font-weight: 300;
  }
  .active {
    opacity: 1;
  }
  #project-summary ul li:first-of-type {
    font-weight: 600;
  }
  div:last-child img {
    width: 100%;
  }
  @media screen and (max-width: $screen-tablet) {
    #project-summary ul li {
      display: none;
    }
    #project-summary ul li:first-of-type {
      display: block;
      margin-bottom: 0px;
    }
    #project-summary > div > div {
      display: none;
      padding-bottom: 0px;
    }
    #project-summary > div {
      padding-bottom: 32px;
    }
    h1 {
      margin-bottom: 0px;
    }
    #project-summary div:nth-child(2) {
      padding-bottom: 0px;
    }
  }
}