{{ define "main" }}



<h2>fullpage 2</h2>

{{ range .Params.fullpage }}


  {{ with .template }}<h1>template: {{ . }}</h1>{{ end }}

  {{ with .left }}

    {{ with .slashes }}
        {{ with .c_1 }}{{ . }}{{ end }}
        {{ with .c_2 }}{{ . }}{{ end }}
        {{ with .c_3 }}{{ . }}{{ end }}
        {{ with .contact_color }}{{ . }}{{ end }}
        {{ with .contact_hover }}{{ . }}{{ end }}
        {{ with .background_2 }}{{ . }}{{ end }}
        {{ with .background_3 }}{{ . }}{{ end }}
      {{ end }}

  {{ end }}


{{ end }}




{{ end }}