@import "../vars";

.work-web-code {
    .card-block-text {
        padding: 10% 16%;
    }
    .cards {
        .col-6 .pb-html-block:last-child {
            margin-bottom: 0px;
        }
        img {
            width: auto;
            margin-left: auto;
            margin-right: auto;
        }
        .col-6 {
            flex-basis: calc(50% - 20px);
        }
        .col-6 .elements-wrapper .pb-html-block {
            background-color: #0f0f0f;
            margin-bottom: 40px;
        }
    }
    .quote-bio img {
        margin-right: 20px;
        border-radius: 50%
    }
    .quote-bio p {
        font-style: italic; 
        font-weight: 600;
    }

    #design, .events-banners {
        .col-6:nth-child(1) {
            padding-right: 10px;
        }
        .col-6:nth-child(3) {
            padding-right: 10px;
        }
        .col-6:nth-child(2) {
            padding-left: 10px;
        }
        .col-6:nth-child(4) {
            padding-left: 10px;
        }
    }

    .drag-slider {
        .elements-wrapper {
            overflow: visible;
        }
        .carousel-cell {
            height: 280px;
            margin-right: 15px;
            width: 33.33%;
        }
        .flickity-viewport {
            overflow: visible;
        }
        .slider-column {
            width: 100%;
        }
    }
    [data-aos=reveal-left]:before, [data-aos=reveal-right]:before  {
        background: #f0f0f0;
    }
}