@import "../vars";
@import "../components/cards";

.work-brand-rigado {

    .cards {
        h6 {
            font-weight: 800;
        }
        .card-block-text {
            padding: 10% 16%;
        }
        .cards .col-6 .pb-html-block:last-child {
            margin-bottom: 0px;
        }
        img {
            width: auto;
            margin-left: auto;
            margin-right: auto;
            padding-top: 55px;
        }
        .col-6 {
            flex-basis: calc(50% - 20px);
        }
        .col-6 .elements-wrapper .pb-html-block {
            background-color: #e7e7e7;
            margin-bottom: 40px;
        }
    }

    .quote {
        font-weight: 400;
    }
    .quote_bio {
        font-size: 14px;
        font-style: italic;
    }
}