.bg_grey {
  background-color: #E5E5E5;
}
.background-night {
  background-color: #161616;
}
.color-oil {
  color: $oil;
}
.color-white {
  color: #ffffff;
}
.color-gray {
  color: #aaa;
}
.color-babyblue {
  color: $babyblue;
}