.flex {
  display: flex;
}
.h_children_center {
  justify-content: center;
}
.h_children_space-between {
  justify-content: space-between;
}


.v_children_center {
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;
}