.grid {
  display: grid;
  display: -ms-grid;
}
.type-2, .type-3, .type-4, .type-5 {
  display: -ms-grid;
  display: grid;
  grid-gap: 40px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
}
.grid-2, .grid-3, .grid-4 {
  display: grid;
}

@media screen and (min-width: $screen-laptop) {
  .type-2 {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
}