.masthead {
  z-index: 9999;
  max-height: 60px;
  font-size: 15px;
  padding: 0 20px;
  position: relative;
}
.masthead {
  /**animations**/
  .cls-1 {
    fill:#96e4ff;
  }
  .cls-2 {
    fill:#1badff;
  }
  .cls-3 {
    fill:#0069f2;
  }
  .cls-1 {
    opacity: 1;
  }
  .cls-2 {
    opacity: 1;
  }
  .cls-3 {
    opacity: 1;
  }
  @-webkit-keyframes loading-header {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  .loading .logo-link .cls-1, .logo-link a.page-link:hover .cls-1 {
    -webkit-animation: loading-header 0.5s ease-in-out infinite; /* Safari 4+ */
    -moz-animation:    loading-header 0.5s ease-in-out infinite; /* Fx 5+ */
    -o-animation:      loading-header 0.5s ease-in-out infinite; /* Opera 12+ */
    animation:         loading-header 0.5s ease-in-out infinite; /* IE 10+, Fx 29+ */
    animation-direction: alternate;
    animation-delay: 0s;
  }
  .loading .logo-link .cls-2, .logo-link a.page-link:hover .cls-2 {
    -webkit-animation: loading-header 0.5s ease-in-out infinite; /* Safari 4+ */
    -moz-animation:    loading-header 0.5s ease-in-out infinite; /* Fx 5+ */
    -o-animation:      loading-header 0.5s ease-in-out infinite; /* Opera 12+ */
    animation:         loading-header 0.5s ease-in-out infinite; /* IE 10+, Fx 29+ */
    animation-direction: alternate;
    animation-delay: 0.15s;
  }
  .loading .logo-link .cls-3, .logo-link a.page-link:hover .cls-3 {
    -webkit-animation: loading-header 0.5s ease-in-out infinite; /* Safari 4+ */
    -moz-animation:    loading-header 0.5s ease-in-out infinite; /* Fx 5+ */
    -o-animation:      loading-header 0.5s ease-in-out infinite; /* Opera 12+ */
    animation:         loading-header 0.5s ease-in-out infinite; /* IE 10+, Fx 29+ */
    animation-direction: alternate;
    animation-delay: 0.30s;
  }
  .nav-list > *, .nav-list li.active:hover a {
    transition: opacity .3s ease-in;
  }
  .nav-list:hover > *, .nav-li2st:hover li.active a {
    opacity: .45;
  }
  .nav-list > *:hover, .nav-list li.active:hover a {
    opacity: 1;
  }
  a {
    font-weight: 400;
    color: $oil;
    fill: currentColor;
    transition: 0;
    display: inline-block;
    padding: 15px 0;
    text-decoration: none;    
  }
  li.active a {
    opacity: 0.45;
  }
  .nav-list {
    max-width: $container;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    pointer-events: all;
    border: none;
    overflow-y: hidden;
    padding: 0;
  }
  .nav-list ul, .nav-list li {
    list-style: none;
  }
  .nav-list li .sub {
    display: block;
    z-index: 9999;
    opacity: 0;
    pointer-events: none;
    border-radius: 0 0 4px 4px;
    position: absolute;
    min-width: 220px;
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
    overflow: hidden;
    box-shadow: 0 1px 0 rgba(0,0,0,.05), 0 4px 6px rgba(0,0,0,.05), 0 15px 20px rgba(0,0,0,.05);
    background: #ffffff;
    padding: 0;
  }
  .nav-list li:hover .sub {
    opacity: 1;
    pointer-events: all;
    -ms-transform: translateY(0);
    transform: translateY(0);
    transition: transform .3s,all .2s ease;
  }
  .nav-list .sub li {
    padding: 0;
    box-shadow: 0 1px 0 rgba(0,0,0,.05);
  }
  .nav-list .sub a {
    display: block;
    transition: 0.5;
    padding: 0;
    text-align: left;
    padding: 28px 20px;
    line-height: 0;
    font-size: 15px;
  }
  .nav-list .sub li:hover {
    background: #efefef;
  }
}
.night-header {
  .masthead, .nav-list li > ul {
    background-color: #000000;
  }
  .nav-list li a {
    color: #ffffff;
  }
  .nav-list .sub {
    background-color: #000000;
  }
  .nav-list .sub li a {
    color: $oil;
  }
}