.padding-xs {
  padding-top: 20px;
  padding-bottom: 20px;
}

.padding-s {
  padding-top: 40px;
  padding-bottom: 40px;
}

.padding-m {
  padding-top: 80px;
  padding-bottom: 80px;
}

.padding-l {
  padding-top: 120px;
  padding-bottom: 120px;
}

.padding-xl {
  padding-top: 160px;
  padding-bottom: 160px;
}

.padding-xxs-top {
  padding-top: 10px;
}

.padding-xs-top {
  padding-top: 20px;
}

.padding-s-top {
  padding-top: 40px;
}

.padding-m-top {
  padding-top: 80px;
}

.padding-l-top {
  padding-top: 120px;
}

.padding-xl-top {
  padding-top: 160px;
}

.padding-xxl-top {
  padding-top: 200px;
}

.padding-xs-bottom {
  padding-bottom: 20px;
}

.padding-s-bottom {
  padding-bottom: 40px;
}

.padding-m-bottom {
  padding-bottom: 80px;
}

.padding-l-bottom {
  padding-bottom: 120px;
}

.padding-xl-bottom {
  padding-bottom: 160px;
}

.padding-xxl-bottom {
  padding-bottom: 200px;
}

.margin-m-bottom {
  margin-bottom: 80px
}

.margin-m-top {
  margin-top: 80px
}

.strip-margin {
  margin: 0 !important;
}
.strip-padding {
  padding: 0 !important;
}
.strip-margin-bottom {
  margin-bottom: 0 !important;
}