.padding-xs {
  padding-top: 20px;
  padding-bottom: 20px;
}

.padding-s {
  padding-top: 40px;
  padding-bottom: 40px;
}

.padding-m {
  padding-top: 80px;
  padding-bottom: 80px;
}

.padding-l {
  padding-top: 120px;
  padding-bottom: 120px;
}

.padding-xl {
  padding-top: 160px;
  padding-bottom: 160px;
}

.padding-xxs-top {
  padding-top: 10px;
}

.padding-xs-top {
  padding-top: 20px;
}

.padding-s-top {
  padding-top: 40px;
}

.padding-m-top {
  padding-top: 80px;
}

.padding-l-top {
  padding-top: 120px;
}

.padding-xl-top {
  padding-top: 160px;
}

.padding-xxl-top {
  padding-top: 200px;
}

.padding-xs-bottom {
  padding-bottom: 20px;
}

.padding-s-bottom {
  padding-bottom: 40px;
}

.padding-m-bottom {
  padding-bottom: 80px;
}

.padding-l-bottom {
  padding-bottom: 120px;
}

.padding-xl-bottom {
  padding-bottom: 160px;
}

.padding-xxl-bottom {
  padding-bottom: 200px;
}

.margin-m-bottom {
  margin-bottom: 80px;
}

.margin-m-top {
  margin-top: 80px;
}

.margin-xxs-top {
  margin-top: 10px;
}

.margin-xs-top {
  margin-top: 20px;
}

.margin-s-top {
  margin-top: 40px;
}

.margin-l-top {
  margin-top: 120px;
}

.margin-xl-top {
  margin-top: 160px;
}

.margin-xxl-top {
  margin-top: 200px;
}

.margin-xxxs-bottom {
  margin-bottom: 5px;
}

.margin-xxs-bottom {
  margin-bottom: 10px;
}

.margin-xs-bottom {
  margin-bottom: 20px;
}

.margin-s-bottom {
  margin-bottom: 40px;
}

.margin-m-bottom {
  margin-bottom: 80px;
}

.margin-l-bottom {
  margin-bottom: 120px;
}

.margin-xl-bottom {
  margin-bottom: 160px;
}
.strip-margin {
  margin: 0 !important;
}
.strip-padding {
  padding: 0 !important;
}
.strip-margin-bottom {
  margin-bottom: 0 !important;
}
@media screen and (min-width: $screen-tablet) {
  .strip-margin-desktop {
    margin: 0 !important;
  }
}
@media screen and (max-width: $screen-tablet-s) {
  .padding-xxl {
    padding-top: 80px;
    padding-bottom: 80px
  }

  .padding-xxl-top {
      padding-top: 80px
  }

  .padding-xxl-bottom {
      padding-bottom: 80px
  }

  .padding-xl {
      padding-top: 80px;
      padding-bottom: 80px
  }

  .padding-xl-top {
      padding-top: 80px
  }

  .padding-xl-bottom {
      padding-bottom: 80px
  }

  .padding-l {
      padding-top: 80px;
      padding-bottom: 80px
  }

  .padding-l-top {
      padding-top: 80px
  }

  .padding-l-bottom {
      padding-bottom: 80px
  }

  .padding-m {
      padding-top: 40px;
      padding-bottom: 40px
  }

  .padding-m-top {
      padding-top: 40px
  }

  .padding-m-bottom {
      padding-bottom: 40px
  }
}