nav.sub {
  width: 100%;
  position: relative;
  border-top: none;
  border-bottom: 1px solid #eee;
  background: rgba(0, 0, 0, 0.015);
  line-height: 1;
  z-index: 1;
  top: 0;
}
nav.sub {
  .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  svg {
    margin: 0 auto;
    margin-bottom: 15px;
  }
  ul {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    justify-content: space-between;
    padding: 30px 20px;
  }
  ul, li {
    list-style: none;
  }
  a {
    color: rgba(0,0,0,.85);
    text-align: center;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
  }
  a:hover, a.inactive:hover, a.active {
    opacity: 1;
  }
  a {
    opacity: .3;
  }
  .link-4 {
    width: 450px;
  }
}