<!doctype html>
<html lang="{{ .Site.LanguageCode | default "en" }}">
    <head>

        {{ block "site/meta" . }}{{ partial "site/meta.html" . }}{{ end }}

        {{ range .AlternativeOutputFormats }}
            <link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink | safeURL }}">
        {{ end }}

        {{ block "site/styles" . }}{{ partial "site/styles.html" . }}{{ end }}
        {{- block "critical" . }}{{ end -}}


    </head>
    <body class='{{ partial "site/body_classes.html" . }}'>
     
        {{ block "header" . }}{{ partial "site/header.html" . }}{{ end }}

        <main class="site-main" role="main">
                
            {{ block "main" . }}{{ end }}

        </main>

        {{ block "footer" . }}{{ partial "site/footer.html" . }}{{ end }}

        {{ if eq .Params.layout "pancakes" }}
        {{ partial "site/pancakes/scripts.html" . | safeHTML }}
        {{ end }}

        {{ block "site/scripts" . }}{{ partial "site/scripts.html" . }}{{ end }}

    </body>
</html>