{{ define "main" }}
{{ with .Resources.ByType "image" }}
    {{ range . }}
    {{ with $.Resources.GetMatch "typeking-cover" }}
        MATCH: {{ . }}
    {{ end }}
    {{ end }}
{{ end }}
{{ with .Params.image }}
{{/* <!--check the outer range--> */}}
    {{ range . }}
    {{ $img := "" }}
    
        {{/* <!--get all the relative path images--> */}}
        {{ with $.Resources.ByType "image" }}
            {{ range . }}
                resource image: {{ . }}<br>
            {{/* <!--check the image resource range--> */}}
                    {{ . }}
                        <img src="{{ .RelPermalink }}">
            {{ end }}
        {{ end }}
    {{ end }}
{{ end }}

    <article>
        <h1>{{ .Title }}</h1>
        {{ .Content }}
    </article>

{{ end }}