{{ $classes := false }}
{{ with .page.classes }}
  {{ $classes = . }}
{{ end }}

{{/* By default, 1 column will automatically default to the featured view unless otherwise specified */}}
{{ $columns := .page.columns | default 2 | float }}
{{ $layout := "grid" | string }}
{{ $grid := "" }}
{{ $row := "" }}

{{ if gt $columns 1 }}
  {{/* If no layout value is set, default to the layout that makes sense given the column number */}}
  {{ $layout = "grid" }}
{{ else }}
  {{ $layout = "row" }}
{{ end }}

{{/* Let the user override the computed layout */}}
{{ with .page.layout }}
  {{ $layout = . | string }}
{{ end }}

{{ if eq $layout "grid" }}
  {{ $grid = true }}
  {{ $row = false }}
{{ else }}
  {{ $grid = false }}
  {{ $row = true }}
{{ end }}

<div class="container-m width-spacer"></div>
{{/* Add sorting and filtering with JS */}}
{{ $tabs := .page.tabs | default false }}

{{/* Match Rules */}}
{{/* match: 
       name: ["",""] // the name of folder + pagename (brand-code)
       category: ["", ""]
        */}}

      {{ $arguments := slice }}

      {{ with partial "helpers/query_arguments.html" . }}
        {{ $arguments = . }}
        
      {{ end }}


{{/* Limit the number of returned items */}}
{{ $count := .page.count | default 2 }}

{{ $query := $arguments }}

{{/* $query := (where $.global.Site.RegularPages "Section" "work") */}}

{{/* $query = first $count (sort (where (where $.global.Site.RegularPages "Section" "work") ".Params.grid_item.featured" "==" true) ".Params.grid_item.weight" "asc") */}}

{{ $query2 := (where $.global.Site.RegularPages "Section" "work") }}


{{/* Inject Tab HTML if enabled */}}
{{ if eq $tabs true }}

  <div class="work-grid-tabs container padding-s-bottom">
  <div class="flex justify-between">

    <div class="brand active" data-aos="fade" data-aos-delay="200" data-aos-duration="1400" data-filter="brand">
      <svg class="padding-xs-bottom" id="Layer_1" width="44" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64">
        <path stroke-width="2" stroke-miterlimit="10" d="M1,21c0,20,31,38,31,38s31-18,31-38  c0-8.285-6-16-15-16c-8.285,0-16,5.715-16,14c0-8.285-7.715-14-16-14C7,5,1,12.715,1,21z"></path>
        </svg>
      <span>Brand</span>
    </div>

    <div class="web active" data-aos="fade" data-aos-delay="400" data-aos-duration="1400" data-filter="web">
      <svg id="Layer_1" width="44" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64">
        <g>
          <rect x="1" y="10" stroke-width="2" stroke-miterlimit="10" width="62" height="41"></rect>
          <line stroke-width="2" stroke-miterlimit="10" x1="22" y1="63" x2="42" y2="63"></line>
          <line stroke-width="2" stroke-miterlimit="10" x1="32" y1="63" x2="32" y2="51"></line>
        </g>
        <line stroke-width="2" stroke-miterlimit="10" x1="1" y1="43" x2="64" y2="43"></line>
        </svg>
      <span>Web</span>
    </div>

      <div class="market active" data-aos="fade" data-aos-delay="600" data-aos-duration="1400" data-filter="market">
        <svg id="Layer_1" width="44" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64">
          <polygon stroke-width="2" stroke-miterlimit="10" points="26,49.042 54.963,49.042 54.963,11.042   1,11.042 1,49.042 14,49.042 14,59.486 "></polygon>
          <polyline stroke-width="2" stroke-miterlimit="10" points="57,41.042 62.963,41.042 62.963,3.042   9,3.042 9,9 "></polyline>
        </svg>
        <span>Market</span>
      </div>  

  </div>
</div>

{{ end }}

<!-- $layout 
featured: work-row
grid: work-grid

$count:
-->
{{ $col_count := 2 | safeHTML }}
{{ $layout_size := .page.layout_size | default "contain" | string | safeHTML }}
{{ $layout_contain_style := .page.contain_style | default "auto" | safeHTML }}
{{ $col_gap := .page.col_gap | string | safeHTML }}
{{ $row_gap := .page.row_gap | string | safeHTML }}


<div class="container ajax_work_grid col-count-{{ $col_count }} layout-size-{{ $layout_size }} col-gap-{{ $col_gap }} row-gap-{{ $row_gap }}{{ with $classes }} {{ . }}{{ end }}{{ with $layout_contain_style }} contain-style-{{ . }}{{ end }}">
    
  {{ if gt (len $query) 0 }}
  {{ $global := .global }}
  {{ $page := .page }}
    {{ range $index, $p := first $count $query }}
      {{ $path := string . }}
      {{ $post := $.global.Site.GetPage $path }}
      {{ partial "components/work/item.html" (dict "post" $post "page" $page "global" $global "index" $index ) }}
    {{ end }}
  {{ end }}

</div><!--ajax_work_grid-->

<div class="height-spacer"><div id="project-summary" class="container padding-m-top padding-m-bottom flex justify-between break-t"><div class="col-3 t-col-8 grid"><img class="client_logo lazypreload lazyloaded" src="" ajax-script-reload="true"><div class="flex tiny color-oil padding-s-top strip-padding-tablet justify-between"><ul><li class="active">Brand</li><li class="active">Development</li><li class="active">Identity</li><li>Strategy</li></ul><ul><li>Web</li><li>Experience</li><li>Design</li><li>Development</li></ul><ul><li>Market</li><li>Search</li><li>Content</li><li>Social</li></ul></div></div><div class="col-8 flex items-center maxwidth-s t-col-12"><h1 class="page-title strip-margin-bottom color-oil"></h1></div></div></div>



{{ $velocity := resources.Get "js/plugins/velocity.min.js" | minify }}
{{ $scroll_lock := resources.Get "js/plugins/bodyScrollLock.js" | minify }}
{{ $Panimate := resources.Get "js/plugins/Panimate.js" | minify }}

<script type="text/javascript" src="{{ $velocity.Permalink }}"></script>
<!-- <script type="text/javascript" src="{{ $Panimate.Permalink }}"></script> -->
<script type="text/javascript" src="{{ $scroll_lock.Permalink }}"></script>


{{ if eq $tabs true }}
{{ $Postquery := resources.Get "js/plugins/Postquery.js" | minify }}
<script type="text/javascript" src="{{ $Postquery.Permalink }}" ajax-script-reload="true"></script>

{{ $filter_grid := resources.Get "js/components/filter_grid.js" }}
<script type="text/javascript" src="{{ $filter_grid.Permalink }}" ajax-script-reload="true"></script>

{{ end }}


{{ if eq $row true }}
{{ $row_grid := resources.Get "js/components/featured_grid.js" }}
<script type="text/javascript" src="{{ $row_grid.Permalink }}"></script>
{{ end }}

{{ $animate_grid := resources.Get "js/components/animate_grid.js" | fingerprint }}

{{ $util := resources.Get "js/util.js" | fingerprint }}

<script type="text/javascript" ajax-script-reload="true">
  fetchInject([
    '{{ $animate_grid.RelPermalink }}'
  ], fetchInject([
    '{{ $util.RelPermalink }}'
  ]))
</script>
