{{ $context := .Params.stacks_hero }}
{{ $src := "" }}
{{ $textClass := "color-white"}}
{{ with $context.text_class }}
  {{ $textClass = . }}
{{ end }}

<section class="work-hero padding-m-top{{ with $context.class }} {{ . }}{{ end }}"{{ with $context.background_color }} style="background-color: {{ . }};"{{ end }}>

  <div id="project-summary" class="container flex justify-between break-t">
    <div class="col-3 t-col-8 grid">
        {{ $logo := $context.client }}
        {{ range where .Site.Data.lookup.clients "name" $logo }}

        {{ if or (eq $context.logo_color true) (eq $context.logo_color "color") }}
          {{ $logo = print "/images/clients/color/" .image }}

        {{ else if or (eq $context.logo_color false) (eq $context.logo_color "white") }}
          {{ $logo = print "/images/clients/white/" .image }}

        {{ else if or (eq $context.logo_color "black") }}
          {{ $logo = print "/images/clients/black/" .image }}
        {{ end }}

        {{ $logo_check := print "assets" $logo }}
        {{ if (fileExists $logo_check )}}
          {{ $src = resources.Get $logo }}
          <!-- <img class="client_logo" src="{{ $src.Permalink }}" ajax-script-reload="true"> -->

          <img class="client_logo" src="{{ $src.Permalink }}" ajax-script-reload="true">
        {{ else }}
          <p>no logo found</p>
        {{ end }}

        {{ end }}

      <div class="flex tiny {{ $textClass }} padding-s-top strip-padding-tablet justify-between">
        
        
          <ul>
            <li{{ if or (in .Params.tags "Brand Development") (in .Params.tags "Brand Identity") (in .Params.tags "Brand Strategy") }} class='active'{{ end }}>Brand</li>

            
              <li{{ if in .Params.tags "Brand Development" }} class='active'{{ end }}>Development</li>
              <li{{ if in .Params.tags "Brand Identity" }} class='active'{{ end }}>Identity</li>
              <li{{ if in .Params.tags "Brand Strategy" }} class='active'{{ end }}>Strategy</li>
          </ul>

          <ul>
            <li{{ if or (in .Params.tags "Web Experience") (in .Params.tags "Web Development") (in .Params.tags "Web Design") }} class='active'{{ end }}>Web</li>
            <li{{ if in .Params.tags "Web Experience" }} class='active'{{ end }}>Experience</li>
            <li{{ if in .Params.tags "Web Design" }} class='active'{{ end }}>Design</li>
            <li{{ if in .Params.tags "Web Development" }} class='active'{{ end }}>Development</li>
          </ul>
          
          <ul>
            <li{{ if or (in .Params.tags "Search Marketing") (in .Params.tags "Content Marketing") (in .Params.tags "Social Marketing") }} class='active'{{ end }}>Market</li>
            <li{{ if in .Params.tags "Search Marketing" }} class='active'{{ end }}>Search</li>
            <li{{ if in .Params.tags "Content Marketing" }} class='active'{{ end }}>Content</li>
            <li{{ if in .Params.tags "Social Marketing" }} class='active'{{ end }}>Social</li>
          </ul>
          
        </div>
    </div>
    

    <div class="col-8 flex items-center maxwidth-s t-col-12">
        <h1 class="page-title strip-margin-bottom {{ $textClass }}">{{ .Title }}</h1>
    </div>


  </div>

  <div class="container-m padding-m">
      <!-- <img class="work-hero-image" src="{{ $src.Permalink }}" ajax-script-reload="true">  -->

      {{ $img := false }}
      {{ with partial "helpers/get_responsive_images.html" (dict "page" . "global" $ "src" $context.image "lazyoad" false ) }}
        {{ $img = . }}
        
      {{ end }}
      {{ $img }}
      {{ if $img }}
        <img {{ $img }}
        class="work-hero-image" ajax-script-reload="true"> 
      {{ end }}

      </div>
</section>
