{{ define "main" }}

<!-- logos_color: true
logos_link: true
logos_width: xs
logos:
  - name: "dell"
    logo_link: false
  - name: "quantum"
    logo_color: false
  - name: "rigado"
  - name: "threefactor"
  - name: "ddn"
  - name: "code" -->


{{ range $index, $sections := .Params.sections }}
  {{ $title_t := "" }}
  {{ $description_t := "" }}
  {{ $process_t := "" }}
  {{ $related_t := "" }}
  {{ $content_related_t := "" }}
  {{ $cta_t := "" }}

  {{ if eq .template "service_title" }}
    {{ $title_t = .template }}
  {{ end }}
  {{ if eq .template "service_description" }}
    {{ $description_t = .template }}
  {{ end }}
  {{ if eq .template "service_process" }}
    {{ $process_t = .template }}
  {{ end }}
  {{ if eq .template "related-work" }}
    {{ $related_t = .template }}
  {{ end }}
  {{ if eq .template "related_content" }}
    {{ $content_related_t = .template }}
  {{ end }}
  {{ if eq .template "cta" }}
    {{ $cta_t = .template }}
  {{ end }}

  <section data-index='{{ $index }}' class='template-{{ .template }}{{ if $title_t }} padding-l-top padding-xl-bottom {{ end }}{{ if $description_t}} padding-l bg_grey{{ end }}{{ if $process_t }} padding-xl-top padding-m-bottom{{ end }}{{ if $related_t }} padding-l-bottom{{ end }}{{ if $content_related_t }} padding-l-bottom{{ end }}{{ if $cta_t }} cta-left{{ end }}'>

  {{ if $title_t }}
  <div class="container flex justify-center">
    <div class="maxwidth-m text-center">      
    
      {{ with .subtitle }}<h4 class="subtitle">{{ . }}</h4>{{ end }}
      {{ with .title }}<h1 class="title">{{ . }}</h1>{{ end }}
    
    {{ with .paragraph }}<p class="big-paragraph strip-margin">{{ . }}</p>{{ end }}

    </div>
  </div>
  <div class="container flex justify-center">
    <div data-aos="fade-zoom-in" class="col-12 featured-logos margin-s-top{{ with .logos_width }} maxwidth-{{ . }}{{ end }}">
      
      {{ partial "helpers/get_logos.html" (dict "page" . "global" $ ) }}
    </div>
  </div>
  {{ end }}

  {{ if $description_t }}
    <div class="container flex justify-center text-center">
      <div class="col-inner maxwidth-xs"><p class="big-paragraph strip-margin-bottom">{{ .paragraph | safeHTML }}</p>
      </div>
    </div>
  {{ end }}



  {{ if $process_t }}
    <div class="container flex justify-center">
      <div class="text-center col-10">
        {{ .section_icon | safeHTML }}
        <h4 class="color-oil subtitle">{{ .subtitle | safeHTML }}</h4>
        <h2 class="color-oil">{{ .title | safeHTML }}</h2>
      </div>
    </div>

    <div class="container flex justify-center margin-m-bottom">
      <div class="col-4 perspecitive-col">
        <div class="perspective-items">
        <div data-aos="fade-up" data-aos-anchor="#service-offering" data-aos-offset="500" data-aos-easing="ease-out-cubic" duration="1000" class="perspective-item aos-init aos-animate">
        <svg id="Layer_1" width="132" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64">
        <line fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" x1="7" y1="0" x2="7" y2="64"></line>
        <polyline fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" points="32.062,6 26,11 26,35 57,35 51,23 57,11   26,11 "></polyline>
        <polyline fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" points="26,30 7,30 7,6 32,6 32,11 "></polyline>
        </svg>
        </div>
        <div data-aos="fade-up" data-aos-anchor="#service-offering" data-aos-offset="700" duration="1000" class="perspective-item aos-init aos-animate">
        <svg id="Layer_1" width="132" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64">
        <g>
        <rect x="1" y="11" fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" width="62" height="42"></rect>
        <polyline fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" points="1,47 24,27 36,39 42,31 63,49  "></polyline>
        <circle fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" cx="51" cy="22" r="5"></circle>
        </g>
        </svg>
        </div>
        <div data-aos="fade-up" data-aos-offset="900" duration="1000" data-aos-anchor="#service-offering" class="perspective-item aos-init">
        <svg id="Layer_1" width="132" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64">
        <polygon fill="none" stroke="#000000" stroke-width="2" stroke-linejoin="bevel" stroke-miterlimit="10" points="1,30 63,1 23,41   "></polygon>
        <polygon fill="none" stroke="#000000" stroke-width="2" stroke-linejoin="bevel" stroke-miterlimit="10" points="34,63 63,1 23,41   "></polygon>
        </svg>
        </div>
        </div>
      </div>
    </div>

    <div class="container maxwidth-xl flex wrap break-tablet-s justify-between">
      <div class="maxwidth-xxxs text-center col-3">
        <span class="black-number">
        <span class="color-white strip-margin strip-padding">1</span>
        </span>

        <p class="number-title">{{ .number_1.title | safeHTML }}</p>

        <p>{{ .number_1.paragraph | safeHTML }}</p>
          
        <p class="small_link flex justify-center strip-margin">
          <a class="color-oil strip-underline flex hover-right" href="{{ .number_1.link }}"><strong>Learn More</strong> <svg class="color-oil" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="32px" height="32px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
          <g>
          <line fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" x1="0" y1="32" x2="63" y2="32"></line>
          </g>
          <polyline fill="none" stroke="#000000" stroke-width="2" stroke-linejoin="bevel" stroke-miterlimit="10" points="54,41 63,32 
                                          54,23 "></polyline>
          </svg></a>
        </p>
      </div>

      <div class="maxwidth-xxxs text-center col-3">
        <span class="black-number">
        <span class="color-white strip-margin strip-padding">2</span>
        </span>

        <p class="number-title">{{ .number_2.title | safeHTML }}</p>

        <p>{{ .number_2.paragraph | safeHTML }}</p>
        
        <p class="small_link flex justify-center strip-margin">
          <a class="color-oil strip-underline flex hover-right" href="{{ .number_2.link }}"><strong>Learn More</strong> <svg class="color-oil" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="32px" height="32px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
          <g>
          <line fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" x1="0" y1="32" x2="63" y2="32"></line>
          </g>
          <polyline fill="none" stroke="#000000" stroke-width="2" stroke-linejoin="bevel" stroke-miterlimit="10" points="54,41 63,32 
                                          54,23 "></polyline>
          </svg></a>
        </p>
      </div>

      <div class="maxwidth-xxxs text-center col-3">
        <span class="black-number">
        <span class="color-white strip-margin strip-padding">3</span>
        </span>
        <p class="number-title">{{ .number_3.title | safeHTML }}</p>
        <p>{{ .number_3.paragraph | safeHTML }}</p>
        <p class="small_link flex justify-center strip-margin">
          <a class="color-oil flex hover-right" href="{{ .number_3.link | safeHTML }}"><strong>Learn More</strong> <svg class="color-oil" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="32px" height="32px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
          <g>
          <line fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" x1="0" y1="32" x2="63" y2="32"></line>
          </g>
          <polyline fill="none" stroke="#000000" stroke-width="2" stroke-linejoin="bevel" stroke-miterlimit="10" points="54,41 63,32 
                                          54,23 "></polyline>
          </svg></a>
        </p>
      </div>
    </div>

    <div class="container flex break-tablet-s border-dark margin-m-top margin-m-bottom"></div>

    <div id="number-4-row" class="container break-mobile margin-m-top margin-m-bottom justify-center items-center">
        <span class="black-number col-1">
        <span class="color-white strip-padding">4</span>
        </span>

        <p class="text-left number-title col-3">{{ .number_4.title | safeHTML }}</p>

        <p class="col-5">{{ .number_4.paragraph | safeHTML }}</p>

        <p class="small_link flex justify-center text-center col-2">
          <a class="color-oil flex hover-right" href="{{ .number_4.link | safeHTML }}"><strong>Learn More</strong> <svg class="color-oil" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="32px" height="32px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
          <g>
          <line fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" x1="0" y1="32" x2="63" y2="32"></line>
          </g>
          <polyline fill="none" stroke="#000000" stroke-width="2" stroke-linejoin="bevel" stroke-miterlimit="10" points="54,41 63,32 
                                        54,23 "></polyline>
          </svg></a>
        </p>
    </div>

  {{ end }}

  {{ if $related_t }}

  <div class="container flex padding-s-bottom break-tablet justify-start">
    <div class="text-left col-9">
        <svg class="padding-xs-bottom" id="Layer_1" width="44" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64">
        <title>Services</title>
        <g>
        <rect x="1" y="18" fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" width="62" height="36"></rect>
        </g>
        <line fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" x1="1" y1="30" x2="63" y2="30"></line>
        <polyline fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" points="27,30 27,36 37,36 37,30 "></polyline>
        <path fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" d="M23,18c0,0,0-8,9-8s9,8,9,8"></path>
        </svg>
        <h4 class="text-align-left color-oil maxwidth-l subtitle">{{ .subtitle | safeHTML }}</h4>
        <h2 class="text-align-left color-oil maxwidth-l">{{ .title | safeHTML }}</h2>
      </div>
    </div>
  

    
    {{ partial "components/ajax_work_grid.html" (dict "page" . "global" $ ) }}

  {{ end }}

  {{ if $content_related_t }}
  
  <div class="container flex wrap padding-m-bottom break-tablet justify-start">
      <div class="text-left col-12 maxwidth-l"><svg class="padding-xs-bottom" id="Layer_1" width="44" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64">
        <title>{{ .subtitle | safeHTML }}</title>
        <polygon fill="none" stroke="#000000" stroke-width="2" stroke-linejoin="bevel" stroke-miterlimit="10" points="40,1 17,37 31,37 
            24,63 50,27 36,27 "></polygon>
        </svg>
      </div>
      <div class="flex col-12 maxwidth-l wrap">
        <h4 class="text-align-left subtitle">{{ .subtitle | safeHTML }}</h4>
        <h2 class="text-align-left">{{ .title | safeHTML }}</h2>
      </div>
  </div>
  
  <div class="container flex break-mobile justify-start wrap">
    <div class="text-left col-6">
      <h4 class="text-left color-oil subtitle"><strong>{{ .column_1.subtitle | safeHTML }}</strong></h4>
      <div class="text-align-left color-oil">
        <div class="grid-image-overlay">
          {{ range .column_1.images }}
            {{ partial "helpers/get_image.html" (dict "page" . "global" $ ) }}
          {{ end }}
        </div>
      </div>
  
      <div class=""><a href="https://dribbble.com/fullstackdigital" class="flex strip-underline justify-children-start align-children-start strip-margin-bottom" target="_blank"><span class="color-oil strip-underline flex hover-right"><strong>Read More</strong> <svg class="color-oil" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="32px" height="32px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
      <g>
      <line fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" x1="0" y1="32" x2="63" y2="32"></line>
      </g>
      <polyline fill="none" stroke="#000000" stroke-width="2" stroke-linejoin="bevel" stroke-miterlimit="10" points="54,41 63,32 
                        54,23 "></polyline>
      </svg></span>
      </a>
      </div>
    </div>
  
    <div class="text-left col-6">
      <h4 class="text-left color-oil subtitle"><strong>{{ .column_2.subtitle | safeHTML }}</strong></h4>
      {{ range first 3 $.Site.Data.placeholder.posts }}
      <div class="article related-blog-feed">
      <a class="text-left color-oil" target="_blank" href="{{ .link }}">
        <h3>{{ .title | safeHTML }}</h4>
        <p class="flex v_children_end justify-end">
          <span class="color-oil flex hover-right">
          <strong>Read More</strong> 
          <svg class="color-oil" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="32px" height="32px" viewBox="0 0 64 64" enable-background="new 0 0 64 64" xml:space="preserve">
          <g>
          <line fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" x1="0" y1="32" x2="63" y2="32"></line>
          </g>
          <polyline fill="none" stroke="#000000" stroke-width="2" stroke-linejoin="bevel" stroke-miterlimit="10" points="54,41 63,32 
                            54,23 "></polyline>
          </svg>
          </span>
        </p>
      </a>
      </div>
      {{ end }}
      </div>
      </div>
  </div>

  {{ end }}


    {{ if $cta_t }}
      <div class="container flex break-tablet justify-between">

        <div class="flex col-5">
          
        </div>

      <div data-aos="fade-left" class="flex wrap padding-m-top padding-m-bottom text-left col-6 maxwidth-s">


      <h4 class="text-align-left subtitle">{{ .subtitle | safeHTML }}</h4>
      <h3 class="text-align-left"><strong id="get-started">{{ .title | safeHTML }}</strong></h3>



      {{ with .form }}
        {{ partial "components/netlify_form.html" (dict "page" . "global" $)}}
      {{ end }}
      </div>


      </div>

    {{ end }}
  </section>
  
{{ end }}





{{ end }}
