.home {
  .logo-link {
    display: none;
  }
  .template-related_content .grid-2 {
    grid-template-columns: .3fr .7fr;
    grid-gap: 120px;
  }
  .template-related_content {
    background: #000000;
  }
  .template-related_content .subtitle {
    font-style: italic;
    color: #aaa;
  }
}