// Colors
$oil: #222;
$babyblue: #1badff;


// Breakpoints
$screen-mobile-s            : 320px !default;
$screen-mobile-m            : 480px !default;
$screen-mobile-l            : 520px !default;
$screen-tablet-s            : 768px !default;
$screen-tablet              : 900px !default;
$screen-laptop              : 1024px !default;
$screen-desktop-s           : 1200px !default;


// Container width
$container-l: 1385px;
$container: 1160px;
$container-m: 1000px;

// Type
$font-family: 'Lato', sans-serif;